<% include homepageheader %>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                    <a class="nav-link custom" href="#"><i class="fas fa-home"></i> Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link custom" href="#"><i class="fas fa-bolt"></i> Moments</a>
                    </li>
                    <a class="nav-link custom" href="#"><i class="fas fa-bell"></i> Notifications</a>
                    </li>
                    <a class="nav-link custom" href="#"><i class="fas fa-envelope"></i> Messages</a>
                    </li>
                    <li class="nav-item">
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                </div>
            </nav>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="profilecard">
                            <div class="profilecardtop"></div>
                            <img class="profilepic" src="/images/pain.png" />
                            <div class="profilebody">
                                <a class="profilelink" href="">Steve Mcgee</a>
                                <br>
                                <a class="profilehandle" href="">@mcgee</a>
                                <div class="row profilecounter">
                                    <div class="col-6">
                                        <a class="tweetslink" href="">Tweets<br>6</a>
                                    </div>
                                    <div class="col-6">
                                        <a class="followerslink" href="">Followers<br>7</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 ">
                        <div class="writetweetcontainer">
                            <div class="tweeteditpiccol">
                                <img class="tweeteditpic" src="/images/pain.png" />
                            </div>
                            <div class="tweettextboxcol">
                                <textarea class="writetweetsection" rows="2" placeholder=" Write something!"></textarea>
                                <button class="submittweetbutton" type="submit">Tweet</button>
                            </div>
                        </div>
                        <div class="tweetsection">
                            <div class="tweetcontainer">
                                <div class="tweetpiccol">
                                    <a href=""><img class="tweetpic" src="/images/pain.png" /></a>
                                </div>
                                <div class="tweetheadercol">
                                    <div class="tweetheader">
                                        <a class="tweetusername" href="">Steve Mcgee</a>
                                        <span> </span>
                                        <div class="tweethandle">@mcgee</div>
                                    <div class="tweet">Steve Mcgee is a cool guySteve Mcgee is a cool guySteve Mcgee is a cool guySteve Mcgee is a cool guySteve Mcgee is a cool guySteve Mcgee is a cool guySteve Mcgee is a cool guySteve Mcgee is a cool guySteve Mcgee is a cool guySteve Mcgee is a cool guy</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
<% include homepagefooter %>