
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <script src="/socket.io/socket.io.js"></script>
            <script>
              var socket = io();

              var user = $('.profilecard').attr('data-user');
              user = JSON.stringify(user);
              user = JSON.parse(user);
              user = user.split(',');

              socket.on('tweet', function(tweet) {
              });
            </script>
        </body>

</html>